<% layout("/layouts/boilerplate.ejs") %>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>

            <h3>Edit listing</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"
                enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid title</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="enter description" id="" class="form-control"
                        required> <%= listing.description %> </textarea>
                    <div class="invalid-feedback">Please enter a valid description!</div>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Original Listing Image</label> <br>
                    <img src="<%= listing.image.url %>" alt="Listing image"
                        style="width: 200px; height: auto; border-radius: 8px;">
                </div>


                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image </label>
                    <input name="listing[image]" value="<%= listing.image %>" type="file" class="form-control">


                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control"
                            required>
                        <div class="invalid-feedback">Please enter a valid price!</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"
                            required>
                        <div class="invalid-feedback">Please enter a valid country!</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control"
                        required>
                    <div class="invalid-feedback">Please enter a valid location!</div>

                </div>

                <button class="btn btn-dark add-btn">Save</button>
                <!-- <button class="btn btn-dark add-btn">Add</button> -->
                <br><br>


            </form>
        </div>
    </div>






    <!-- <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" > 
        <input name="listing[title]" value="<%= listing.title%>" type="text"> <br><br>
        <textarea name="listing[description]" id=""> <%= listing.description%> </textarea><br><br>
        <input name="listing[image]" value="<%= listing.image%>" type="text"><br><br>
        <input name="listing[price]" value="<%= listing.price%>" type="number"><br><br>
        <input name="listing[location]" value="<%= listing.location%>" type="text"><br><br>
        <input name="listing[country]" value="<%= listing.country%>" type="text"><br><br>
        <button>Edit</button>


    </form> -->